---
import Layout from "../layouts/Layout.astro"
import Recipe from "../layouts/Recipe.astro"
import Ingredients from "../components/Ingredients.astro"
import DirectionsLi from "../components/DirectionsLi.astro"
import Preamble from "../components/Preamble.astro"

const ingredients = [
    {
        name: "onion",
        amount: [0.5],
    },
    {
        name: "refined coconut oil",
        amount: [2, "tbsp"],
    },
    {
        name: "star anise",
        amount: [1, "seed"],
    },
    {
        name: "fennel",
        amount: [1, "tsp"],
    },
    {
        name: "bay leaf",
        amount: [1, "leaf"],
    },
    {
        name: "dried oregano",
        amount: [2, "tsp"],
    },
    {
        name: "smoked paprika",
        amount: [1, "tsp"],
    },
    {
        name: "ground sage",
        amount: [2, "tsp"],
    },
    {
        name: "pecans",
        amount: [1, "cup"],
    },
    {
        name: "green lentils",
        amount: [0.5, "cups"],
    },
    {
        name: "vegetable broth",
        amount: [2, "cups"],
    },
    {
        name: "vital wheat gluten",
        amount: [4, "tbsp"],
    },
    {
        name: "ground flax seeds",
        amount: [2, "tbsp"],
    },
    {
        name: "nutritional yeast",
        amount: [2, "tbsp"],
    },
    {
        name: "rice paper",
        amount: [12, "sheets"],
        note: "optional",
    },
];

---

<Layout title="Fennel Pecan Lentils" desc="A sausage-like mince that can be wrapped in a rice paper casing.">
    <Recipe
        title="Fennel Pecan Lentils"
        image="/sausage.jpg"
        alt="Three fried vegan sausages sitting in a line on a fancy plate"
        description="A sausage-like mince that can be wrapped in a rice paper casing."
        ingredients={ingredients}>
            
            <Preamble>
                Adapted from <a href="https://healthiersteps.com/recipe/lentil-meatballs-vegan-gluten-free-2/"> Healthier Step's Lentil Meatball recipe</a>.
            </Preamble>
            
            <DirectionsLi>
                Chop the <Ingredients ref={ingredients} range={0} showAmount /> as finely as you possibly can.
            </DirectionsLi>
            <DirectionsLi>
                Add the <Ingredients ref={ingredients} range={1} showAmount /> to a large stock pot.
                Preheat the stock pot on low heat, then add the <Ingredients ref={ingredients} range={0} isPlural /> when it is warm.
                You can sprinkle some salt over them to help them sweat.
            </DirectionsLi>

            <DirectionsLi>
                <p>
                    After the <Ingredients ref={ingredients} range={0} isPlural /> are mostly transucent (about 5 minutes),
                    add to the stock pot the <Ingredients ref={ingredients} range={[2,7]} showAmount />.
                    Continue cooking for another 5 minutes to let the flavors mix together.
                </p>
                <p>
                    While the aromatics are cooking, use a food processor to chop the <Ingredients ref={ingredients} range={8} showAmount /> into very fine pieces.
                </p>
                <p>
                    Finally, add the <Ingredients ref={ingredients} range={8} /> and <Ingredients ref={ingredients} range={9} showAmount /> to the stock pot. Stir occasionally for another 5 minutes.
                </p>
            </DirectionsLi>
            
            <DirectionsLi>
                <p>
                    Pour the <Ingredients ref={ingredients} range={10} showAmount /> into the stock pot. Bring the mixture to a boil, and reduce the heat to a simmer.
                    Let the mixture reduce, stirring occasionally, until all of the water has evaporated. This typically takes 15-20 minutes.
                </p>
                <p>
                    While you're waiting for the mixture to reduce, add to a medium mixing bowl the <Ingredients ref={ingredients} range={[11,13]} showAmount />.
                </p>
            </DirectionsLi>

            <DirectionsLi>
                <p>
                    Once there is no liquid pooling at the bottom of the stock pot, and the mixture behaves like a paste, turn off the heat.
                    Scoop the mixture from the stock pot into the mixing bowl with the other ingredients; stir to combine.
                    The more you stir, the tougher and stringier the mixture will get (which is a good thing in this case).
                </p>
                <p>
                    You have two options at this point: you can shape the mixture into patties and fry them immediately (or store them in the fridge or freezer).
                    Otherwise, you can keep reading to learn how to put them in a casing to make them into sausage links.
                </p>
            </DirectionsLi>

            <DirectionsLi>
                Fill a large plate (or other flat-bottomed dish with a lip) with water. Have a cookie sheet ready too.
            </DirectionsLi>

            <DirectionsLi>
                Submerge one <Ingredients ref={ingredients} range={14} />
                into the water for 15 seconds. Pull the <Ingredients ref={ingredients} range={14} /> from the water,
                and place it on the cookie sheet. Scoop about one-third of a cup of the sausage mixture onto the center of the <Ingredients ref={ingredients} range={14} />,
                shape the mixture into a log, and roll it up like a burrito (try to make it tight). Repeat until you run out of ingredients. Space the sausage rolls so that they do not touch.
            </DirectionsLi>

            <DirectionsLi>
                <p>
                    To cook, add a little oil to a frying pan, then fry the sausages, flipping occasionally to crisp up the casing.
                </p>
                <p>OR</p>
                <p>
                    To store uncooked, freeze the cookie sheet of sausages solid (about 45 minutes), then transfer the sausages to your container of choice for storage.
                    I like to keep mine frozen so that they don't stick together.
                </p>
            </DirectionsLi>

    </Recipe>
</Layout>

