---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import LinkCard from "../components/LinkCard.astro";
import Hero from "../components/Hero.astro";

const recipes = await getCollection("recipes");

---

<Layout title="Home" desc="An open source vegan recipe book">
    <main class="the-grid">
        <header class="the-grid-content">
            <Hero class="heading-1">
                Vegan recipes by a guy who loves good food and loathes ads
            </Hero>
        </header>
        <section class="the-grid-pad links-grid">
        {
            recipes.map((recipe) =>
                <LinkCard
                    href={`/recipes/${recipe.slug}/`}
                    label={recipe.data.title}
                    src={recipe.data.image}
                    alt={recipe.data.alt}
                    desc={recipe.data.description} />
            )
        }
        </section>
    </main>
</Layout>

<style>

    .the-grid {
        display: grid;
        grid-template-columns: [full-start] var(--pad-large) 1fr [pad-start] 1fr [content-start] min(75ch, calc(100% - (var(--pad-large) * 2))) [content-end] 1fr [pad-end] 1fr var(--pad-large) [full-end];
    }

    .the-grid-content {
        grid-column: content;
    }

    .the-grid-pad {
        grid-column: pad;
    }

    .links-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 24em), 1fr));
        gap: var(--pad-large);
        margin-block-start: calc(var(--pad-large) * 3);
    }

</style>
