---
import Layout from "../layouts/Layout.astro"
import Recipe from "../layouts/Recipe.astro"
import DirectionsLi from "../components/DirectionsLi.astro"

const ingredients = [
        {
            name: "cashews",
            amount: [ 60, "grams", "or", 0.5, "cups" ],
        },
        {
            name: "water for soaking",
            amount: [ 0.5, "cups" ],
        },
        {
            name: "white vinegar",
            amount: [ 2, "tbsp" ],
        },
        {
            name: "salt",
            amount: [ 1, "tsp" ],
        },
        {
            name: "mustard",
            amount: [ 1, "tbsp" ],
            note: "stone ground if you can find it",
        },
        {
            name: "water for blending",
            amount: [ 1, "cup" ],
        },
];

const { title, desc } = {
    title: "Mustard Creme",
    desc: "A creamy, tangy, mustardy cashew sauce that is just lovely on a vegan sausage"
}

---

<Layout title={title} desc={desc}>
    <Recipe
        title={title}
        image="/mustard_creme.jpg"
        alt="A glass jar filled half-way with a white-colored creme sauce. There are flecks of mustard seed throughout."
        description={desc}
        ingredients={ingredients}>

            <DirectionsLi>
                Put the <strong>{ingredients[0].name} ({ingredients[0].amount.join(" ")})</strong>
                <strong>{ingredients[1].name} ({ingredients[1].amount.join(" ")})</strong>
                in a sauce pan and bring to a boil. Once boiling,
                turn off the heat and let the <strong>{ingredients[0].name}</strong>
                soak while you complete the next steps.
            </DirectionsLi>

            <DirectionsLi>
                <p>
                    To a high-speed blender, add the {ingredients.slice(2, -2).map((ing) => <strong>{ing.name} ({ing.amount.join(" ")}), </strong>)}
                    and the <strong>{ingredients.at(-1).name} ({ingredients.at(-1).amount.join(" ")})</strong>.
                </p>
                <p>
                    Drain the <strong>{ingredients[0].name}</strong> (keep the sauce pan around), and then add them to the blender with the rest of the ingredients.
                    Blend until smooth.
                </p>
            </DirectionsLi>

            <DirectionsLi>
                Add the blended mixture to the sauce pan you kept around. Heat on medium-high heat, stirring constantly, until it thickens to a custard-like consistency.
                Remove from the heat and cool. You can store this in a air-tight container in the fridge. I'd guess it would stay good for a week at most.
            </DirectionsLi>

    </Recipe>
</Layout>

