---
import Layout from "../layouts/Layout.astro"
import Recipe from "../layouts/Recipe.astro"

const ingredients = [
        {
            name: "Carrots",
            amount: [ 90, "grams" ],
        },
        {
            name: "Cashews",
            amount: [ 50 , "grams" ],
        },
        {
            name: "Pistachios",
            amount: [ 10, "grams" ],
        },
        {
            name: "Lemon Juice",
            amount: [ 1, "tbsp", 1, "tsp" ],
        },
        {
            name: "White Vinegar",
            amount: [ 1, "tbsp" ],
        },
        {
            name: "Coconut Milk",
            amount: [ 2, "tbsp" ],
        },
        {
            name: "Oat Milk",
            amount: [ 0.25, "cup" ],
        },
        {
            name: "Coconut Oil",
            amount: [ 2, "tsp" ],
        },
        {
            name: "Soy Sauce",
            amount: [ 1, "tsp" ],
        },
        {
            name: "Garlic",
            amount: [ 0.5, "clove" ],
        },
        {
            name: "Tapioca Starch",
            amount: [ 1, "tbsp" ],
        },
        {
            name: "Nutritional Yeast",
            amount: [ 1, "tbsp" ],
        },
        {
            name: "Salt",
            amount: [ 1, "tsp" ],
        },
];

const directions = [
    `Dice the ${ingredients[0].name} (${ingredients[0].amount.join(" ")}) into one-inch pieces, fill a sauce pan with the ${ingredients[0].name} and enough water to cover them. Bring to a boil and simmer until fork tender.`,
    `Once the ${ingredients[0].name} are cooked, add the ${ingredients[1].name} (${ingredients[1].amount.join(" ")}) and ${ingredients[2].name} (${ingredients[2].amount.join(" ")}) to the sauce pan with the ${ingredients[0].name}. Turn off the burner and remove from heat.`,
    `Add the ${ingredients.slice(3).map((i) => `${i.name} (${i.amount.join(" ")})`).join(", ")} to a highspeed blender.`,
    `Drain, then add the ${ingredients.slice(0, 3).map((i) => i.name).join(", ")} to the blender too.`,
    `Blend until very smooth. There should be no lumps or gittiness, and the color should be pale yellow.`,
    `Return the blended ingredients to the sauce pan. Heat over medium heat until thickened.`,
    `Let cool, stirring every few minutes to ensure there is no skin, then store in an airtight container in the fridge.`
];

---

<Layout>
    <Recipe
        title="Queso v7"
        image="../public/image.jpg"
        alt="A mason jar sitting a counter filled with a thick sauce the color of cheddar."
        description="A creamy, queso-like vegan sauce. It goes great on pizza, noodles, and inside quesadillas!">
        
        <ul slot="ingredients">
            {ingredients.map((i) => <li>{i.amount.join(" ")} {i.name}</li>)}
        </ul>
        
        <ol slot="directions">
            {directions.map((i) => <li>{i}</li>)}
        </ol>

    </Recipe>
</Layout>
