---

interface Recipe {
    title: string
    image: uri
    alt: string
    description: string
    ingredients: Array<{ name: string, amount: Array<number,string> }>
    directions: Array<string>
}

const { title, image, alt, description, ingredients, directions } = Astro.props;

---

<article class="grid-main">
    <hgroup class="content">
        <h1 class="heading-1">{title}</h1>
        <img class="blob" src={image} alt={alt} />
        <p class="heading-4">{description}</p>
    </hgroup>
    
    <section class="content">
        <h2 class="heading-3">Ingredients</h2>
        <ul role="list" class="ingredients-list">
            {ingredients.map((ing) => <li class="ingredients-item"><em>{ing.amount.join(" ")}</em> {ing.name}</li>)}
        </ul>
    </section>

    <section class="content">
        <h2 class="heading-3">Directions</h2>
        <ol role="list" class="directions-list">
            {directions.map((dir) => <li class="directions-item">{dir}</li>)}
        </ol>
    </section>

</article>

<style>
    .blob {
        mask: url("blob.svg");
        mask-size: cover;
    }

    .ingredients-list {
        padding: 0;
    }

    .ingredients-item {
        --_gap-size: var(--pad-large);
        position: relative;
        padding-inline-start: var(--_gap-size);
    }

    .ingredients-item::before {
        content: "";
        position: absolute;
        left: 0;
        top: calc(1em - 0.25em);
        width: 1ch;
        height: 0.25em;
        border-radius: 0.25em;
        background-color: hsl(var(--plane-low));
    }

    .directions-list {
        --_circle-size: calc(var(--pad-large) * 2);
        --_gap-size: calc(var(--_circle-size) / 2);
        counter-reset: directions;
        padding: 0;
    }

    .directions-item {
        position: relative;
        padding-inline-start: calc(var(--_circle-size) + var(--_gap-size));
    }

    .directions-item::before {
        content: counter(directions);
        counter-increment: directions;
        position: absolute;
        left: 0;
        display: grid;
        place-items: center;
        width: var(--_circle-size);
        height: var(--_circle-size);
        border: 1px solid hsl(var(--plane-low));
        border-radius: 50%;
        font-family: 'Dosis', sans-serif;
        font-weight: 600;
    }

    .directions-item + .directions-item {
        margin-block-start: calc(var(--pad-large) * 2);
    }

</style>

