---

interface Recipe {
    title: string
    image: uri
    alt: string
    description: string
    ingredients: Array<{ name: string, amount: Array<number,string> }>
    directions: Array<string>
}

const { title, image, alt, description, ingredients, directions } = Astro.props;

---

<article class="grid-main">
    <hgroup class="content">
        <h1 class="heading-1">{title}</h1>
        <img src={image} alt={alt} />
        <p class="heading-4">{description}</p>
    </hgroup>
    
    <section class="content">
        <h2 class="heading-3">Ingredients</h2>
        <ul>
            {ingredients.map((ing) => <li>{ing.amount.join(" ")} {ing.name}</li>)}
        </ul>
    </section>

    <section class="content">
        <h2 class="heading-3">Directions</h2>
        <ol class="directions-list">
            {directions.map((dir) => <li class="directions-item">{dir}</li>)}
        </ol>
    </section>

</article>
