---

import { randomBlob } from "../components/blobs/blob_utils.js";

interface Recipe {
    title: string
    image: uri
    alt: string
    description: string
    ingredients: Array<{ name: string, amount: Array<number,string> }>
}

const { title, image, alt, description, ingredients } = Astro.props;

---

<article class="recipe-grid">
    <hgroup class="summary">
        <h1 class="heading-1 no-margin">{title}</h1>
        <img class={randomBlob()} src={image} alt={alt} />
        <p class="heading-4">{description}</p>
    </hgroup>
    
    <section class="ingredients">
        <h2 class="heading-3">Ingredients</h2>
        <ul role="list" class="ingredients-list">
            {ingredients.map((ing) => <li class="ingredients-item"><em>{ing.amount.join(" ")}</em> {ing.name} {ing.note && <small>{ing.note}</small>}</li>)}
        </ul>
    </section>

    <section class="directions">
        <h2 class="heading-3">Directions</h2>
        <ol role="list" class="directions-list">
            <slot />
        </ol>
    </section>

</article>

<style>

    @import url("../components/blobs/blobStyle.css");

    .recipe-grid {
        display: grid;
        grid-template-columns:
            [edge-start] 1em
            [summary-start ingredients-start directions-start] auto 
            [summary-end ingredients-end directions-end] 1em [edge-end];
        grid-template-rows:
            [summary-start] auto
            [summary-end ingredients-start] auto
            [ingredients-end directions-start]auto;
        align-items: baseline;
        max-width: 220ch;
        margin: 2em auto;
    }

    .summary {
        grid-area: summary;
        place-self: center;
        max-width: 32em;
    }

    .ingredients {
        grid-area: ingredients;
        max-width: 75ch;
    }

    .directions {
        grid-area: directions;
        max-width: 75ch;
    }

    @media (min-width: 800px) {
        .recipe-grid {
            grid-template-columns:
                [edge-start] 1em
                [summary-start ingredients-start] 1fr
                [ingredients-end directions-start] 2fr
                [directions-end summary-end] 1em [edge-end];
           grid-template-rows: 
                [summary-start] auto
                [summary-end ingredients-start directions-start] auto [ingredients-end directions-end];
            gap: 3em;
        }

    }

    @media (min-width: 1440px) {
        .recipe-grid {
            display: grid;
            grid-template-columns:
                [edge-start] 1em
                [summary-start] auto
                [summary-end ingredients-start] 1fr
                [ingredients-end directions-start] 1.5fr
                [directions-end] 1em [edge-end];
            grid-template-rows: revert;
            justify-items: center;
        }

        .summary {
            place-self: revert;
        }
    }

    .blob {
        mask: url("/blob.svg");
        mask-size: cover;
        margin-block: var(--pad-large);
    }

    .ingredients-list {
        padding: 0;
    }

    .ingredients-item {
        --_gap-size: calc(var(--pad-large) * 1.5);
        position: relative;
        padding-inline-start: var(--_gap-size);
        line-height: 2;
    }

    .ingredients-item::before {
        content: "";
        position: absolute;
        left: 0;
        top: calc(1em - 0.25em);
        width: 1ch;
        height: 0.25em;
        border-radius: 0.25em;
        background-color: hsl(var(--clr-main-300));
    }

    .directions-list {
        --_circle-size: calc(var(--pad-large) * 2);
        --_gap-size: calc(var(--_circle-size) / 2);
        counter-reset: directions;
        padding: 0;
    }

</style>

